[
	{
		"ID":"1",
		"Name":"No equivalent PP",
		"Configuration":"No equivalent performance parameters for %PP Name%"
		},
	{
		"ID":"2",
		"Name":"Legacy TM Missing",
		"Configuration":"Legacy Test Method %TM Name% %TM New Name% Missing for %PP Name% (%PP Code%)"
		},
	{
		"ID":"3",
		"Name":"Value not accepted",
		"Configuration":"Val not accepted %Values% by %PP Name% (%PP Code%) %Reason%"
		},
	{
		"ID":"4",
		"Name":"Empty secton on Xspec",
		"Configuration":"Empty section on Xspec %Section Name%"
		},
	{
		"ID":"5",
		"Name":"TM Field Free Text",
		"Configuration":"Test Method Field is free text in %PP Name% (%PP Code%)"
		},
	{
		"ID":"6",
		"Name":"Used routed for approval version",
		"Configuration":"Used newest version %version#% that is Routed for approval"
		},
	{
		"ID":"7",
		"Name":"UOM incorrect",
		"Configuration":"Legacy UOM is %Legacy UOM% , PV has %PV UOM% for %PP Name% ( %PP Code% )"
		},
	{
		"ID":"8",
		"Name":"Extra PP on PV",
		"Configuration":"Extra Performance Parameter on PV %PP Name% (%PP Code%)"
		},
	{
		"ID":"9",
		"Name":"Newest version is not Approved",
		"Configuration":"Newest version %Version #% is %Status% last approved version is %Version #%"
		},
	{
		"ID":"10",
		"Name":"Xspec Obsolete",
		"Configuration":"All versions on Xspec are Obsolete"
		}						
	
]